<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- gg font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Abel&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Cusstom css -->
    <link rel="stylesheet" type="text/css" href="/public/css/style-home.css" />

    {{{_sections.css}}}
</head>

<body>
    <div class="alert alert-primary alert-dismissible fade show left_device" role="alert">
        <strong class="notification"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <nav>
        <div class="container">
            <div class="row" id="menu">
                <div class="col-9">
                    <ul class="menu">
                        <li class="nav">
                            <a href="/">Trang chủ</a>
                        </li>
                        {{#if THEM_DUNG_CU }}
                        <li class="nav"><a href="#">Quản lý
                                tủ</a>
                            <ul>
                                <li><a href="/device/addDevice">Thêm dụng cụ</a></li>
                                <li><a href="/device/importList">Import list</a></li>
                                <li><a href="/device/layout">Layout tủ</a></li>
                            </ul>
                        </li>
                        {{/if}}
                        {{#or TAO_TAI_KHOAN PHAN_QUYEN_CAP_NHAT_MK}}
                        <li class="nav"><a href="#">Quản lý tài
                                khoản</a>
                            <ul>
                                {{#if TAO_TAI_KHOAN}}
                                <li><a href="/user/register">Tạo tài khoản</a></li>
                                {{/if}}
                                {{#if PHAN_QUYEN_CAP_NHAT_MK}}
                                <li><a href="/admin/auth">Phân quyền</a></li>
                                {{/if}}
                            </ul>
                        </li>
                        {{/or}}
                        {{#or DUYET_DUNG_CU XUAT_FILE_KIEM_KE}}
                        <li class="nav"><a href="#">Báo cáo</a>
                            <ul>
                                <li><a href="/report/historyAction">Lịch Sử</a></li>
                                <li><a href="/device/checkShelf">Kiểm kê</a></li>
                                {{#if CAP_NHAT_CL_DUNG_CU}}
                                <li><a href="#">Hiệu chỉnh</a></li>
                                {{/if}}
                                {{#if DUYET_DUNG_CU}}
                                <li><a href="/admin/accepts">Duyệt</a></li>
                                {{/if}}
                                <li><a href="/report/rest">Thiết Bị Tồn Kho</a></li>
                            </ul>
                        </li>
                        {{/or}}
                        {{#if PHAN_QUYEN_CAP_NHAT_MK}}
                        <li class="nav"> <a href="#">System</a>

                        </li>
                        {{/if}}
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="menu">
                        <li class="nav info">
                            {{#if lcIsAuthenticated}}
                            <div class="menu_info">
                                <img src="/public/img/dao_tien.jpg" width="25px" height="25px" alt="avatar">
                                <span><a href="/user/info" class="full_name_header">{{lcAuthUser.full_name}}</a></span>
                            </div>
                            <div class="login">
                                <a href="/user/logout">Đăng Xuất</a>
                            </div>
                            {{else}}
                            <div class="login">
                                <a href="/user/login">Đăng Nhập</a>
                            </div>
                            {{/if}}

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/home.js"></script>
    {{{_sections.js}}}
    <!-- slick -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Cusstom javascrips -->


</body>

</html>